.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  /* margin: 0 auto; */
}
.gallery-image {
  width: 360px;
  object-fit: cover;
  transition: 250ms linear;
}
.gallery-image:hover {
  transform: scale(1.1, 1.1);
}
.btn {
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  padding: 10px 16px;
  margin-bottom: 25px;
  background-color: #ff8c4e;
  transition: background-color 250ms linear;
  border: none;
}
